# Cấu hình MongoDB
# Nếu bạn muốn dùng MongoDB thật (Local hoặc Atlas), hãy bỏ comment dòng bên dưới
# MONGO_URI=mongodb://localhost:27017/nnptudm_finalexam

# Tên database mặc định nếu dùng Memory Server
MONGO_DB_NAME=nnptudm_finalexam
MONGO_PORT=27017

# Cấu hình JWT
JWT_SECRET=your_very_secret_key_here

# Cổng chạy backend
PORT=5000
